[submodule "bundle/supertab"]
	path = pack/supertab/start/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "pack/jason/start/vim-fugitive"]
	path = pack/interface/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/jason/start/nerdtree"]
	path = pack/interface/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/jason/start/SimpylFold"]
	path = pack/SimpylFold/start/SimpylFold
	url = git://github.com/tmhedberg/SimpylFold.git
[submodule "pack/themes/start/nord-vim"]
	path = pack/themes/start/nord-vim
	url = git://github.com/arcticicestudio/nord-vim.git
[submodule "pack/lsp/start/vim-lsp"]
	path = pack/lsp/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "pack/lsp/start/async.vim.d"]
	path = pack/lsp/start/async.vim.d
	url = https://github.com/prabirshrestha/async.vim.git
